{% extends "base.html" %}
{% load template_extras %}

{% block title %}Plotting{% endblock %}

{% block content %}

{% if product %}
  <h2>{{ product.display_name }}</h2>
{% else %}
  <h2>{{ bnf_presentation.name }}</h2>
{% endif %}

 <img src="{{ request.path }}/graph.png?logscale={{request.GET.logscale}}" width="949" height="542">

<hr>


{% if request.GET.logscale %}
Showing y-axis with a logarithmic scale. <a class="" href="?{% url_toggle request 'logscale' %}">Show constant scale</a> instead.
{% else %}
Showing constant scale.  <a class="" href="?{% url_toggle request 'logscale' %}">Use a logarithmic scale on the y-axis</a> instead, to see brands with low counts more clearly.
{% endif %}
<hr>


{% if product %}
<table class="table table-condensed">
  <tr>
    <th>Tariff category</th>
    <td>{{ product.tariff_category }}</td>
  </tr>
  <tr>
    <th>Availability restrictions (special, imported, etc)</th>
    <td>{{ product.availability_restrictions }}</td>
  </tr>
  <tr>
    <th>Prescribability status (non-bioequivalence, etc)</th>
    <td>{{ product.prescribability }}</td>
  </tr>
  <tr>
    <th>Broken bulk?</th>
    <td>{% if product.is_broken_bulk %}Yes{% else %}No{% endif %}</td>
  </tr>
  <tr>
    <th>Special container?</th>
    <td>{% if product.is_special_container %}Yes{% endif %}</td>
  </tr>
  <tr>
    <th>Can have personal administration fee?</th>
    <td>{{ product.can_have_personal_administration_fee }}</td>
  </tr>
</table>

{% else %}

Extended information from dm+d not available for this presentation.

{% endif %}


{% endblock %}

{% block extra_js %}
{% conditional_js 'openprescribing' %}
{% endblock %}
