{% extends "base.html" %}
{% load template_extras %}

{% block title %}Plotting{% endblock %}

{% block content %}

<h2>{{ product.display_name }} </h2>

<img src="{{ request.path }}/graph.png">

<table>
  <tr>
    <th>Tariff category</th>
    <td>{{ product.tariff_category }}</td>
  </tr>
  <tr>
    <th>Availability restrictions (special, imported, etc)</th>
    <td>{{ product.availability_restrictions }}</td>
  </tr>
  <tr>
    <th>Prescribability status (non-bioequivalence, etc)</th>
    <td>{{ product.prescribability }}</td>
  </tr>
  <tr>
    <th>Broken bulk?</th>
    <td>{% if product.is_broken_bulk %}Yes{% endif %}</td>
  </tr>
  <tr>
    <th>Special container?</th>
    <td>{% if product.is_special_container %}Yes{% endif %}</td>
  </tr>
  <tr>
    <th>Can have personal administration fee?</th>
    <td>{{ product.can_have_personal_administration_fee }}</td>
  </tr>


{% endblock %}

{% block extra_js %}
{% conditional_js 'openprescribing' %}
{% endblock %}
